<ion-view view-title="Favoris">
	<ion-content>
		<ion-list>
			<ion-item class="item item-icon-right" 
				  	  ng-repeat="pioupiou in pioupious.data"
				  	  ng-if="bookmarks.bookmarks[pioupiou.id]"
				  	  href="#/app/pioupiou/{{pioupiou.id}}">

				<h2>{{pioupiou.meta.name}}</h2>
				<p>
					<pioupiou-status status="pioupiou.status"></pioupiou-status> - 
					{{pioupiou.measurements.wind_heading | windDirectionDegreesToText}} - {{speed.convert(pioupiou.measurements.wind_speed_avg) | number:0}} {{speed.unit}}
				</p>
				<a class="icon ion-close" ng-click="bookmarks.remove(pioupiou.id)"></a>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>
