<ion-view>
<ion-nav-title>
	Pioupiou
</ion-nav-title>
  <ion-content class="content padding">
	<h2>Les commandes sont re-ouvertes!</h2>
	<p>28 octobre 2015</p>
	<p>Nous avons lancé la fabrication d'une nouvelle série de Pioupious. Commandez le votre maintenant!<p>
	
	<img src="img/pioupiou-front.png">
	
	<div style="position:relative;bottom:0px">

	</div>
  </ion-content>
	<div style="width:100%; position:absolute; bottom:0px" class="padding">
		<a href="#/app/search"
		   class="button button-block button-positive">
		  Rechercher un Pioupiou
		</a>
		<a class="button button-block button-positive"
		   href="#/app/bookmarks">
		  Mes favoris
		</a>
		<button class="button button-block button-positive disabled">
		  La carte
		</button>
	</div>
</ion-view>
