<ion-side-menus enable-menu-with-back-views="true">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-positive">
      <ion-nav-back-button>Retour
      </ion-nav-back-button>

      <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="right">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="right">
    <ion-header-bar class="bar-positive">
    </ion-header-bar>
    <ion-content>
      <ion-list>
	  	<a class="item item-icon-left" menu-close href="#/app/home">
	    	<i class="icon ion-home"></i>
	    	Accueil
	  	</a>
	  	<a class="item item-icon-left" menu-close href="#/app/search">
	    	<i class="icon ion-search"></i>
	    	Recherche
	  	</a>
	  	<a class="item item-icon-left" menu-close href="#/app/bookmarks">
	    	<i class="icon ion-star"></i>
	    	Favoris
	  	</a>
      <a class="item item-icon-left" menu-close href="#/app/map">
        <i class="icon ion-location"></i>
        Carte
      </a>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
