<ion-view>
	<ion-content class="padding">
		<div class="card" 
			 ng-if="pioupiou.error && !pioupiou.data">	  
		  	<div class="item item-text-wrap assertive">
		    	Pas de données disponibles
		  	</div>
		</div>
		<div ng-if="pioupiou.data">
			<div class="list card">
			  	<div class="item item-avatar">
			    	<img src="img/logo.png">
			    	<h2>{{pioupiou.data.meta.name}}</h2>
			    	<p>n° {{pioupiou.data.id}}</p>
					<p>
						<pioupiou-status status="pioupiou.data.status"></pioupiou-status>
						à {{pioupiou.data.measurements.date | date:'shortTime'}}
					</p>
			  	</div>
				<div class="text-center" 
					 ng-if="last_hour.data">
					 
					 <wind-jauge-canvas direction="getCurrentMeasurement()[6]" speed="getCurrentMeasurement()[4]" unit="speed.unit" style="width:100%;height:280px;"></wind-jauge-canvas>

					<div id="name" 
						 ng-click="speed.toggleUnit()">
						<h4>
							{{getCurrentMeasurement()[6] | windDirectionDegreesToText}} - {{speed.convert(getCurrentMeasurement()[4]) | number:0}} {{speed.unit}}
						</h4>
						<h5>
							Mini : {{speed.convert(getCurrentMeasurement()[3]) | number:0}} {{speed.unit}} - Maxi {{speed.convert(getCurrentMeasurement()[5]) | number:0}} {{speed.unit}}
						</h5>
						Relevé de {{getCurrentMeasurement()[0] | date:'shortTime'}}
					</div>
					<div class="range range-positive">
						<input type="range" 
							   min="0" 
							   max="{{last_hour.data.length - 1}}" 
							   step="1" 
							   ng-model="selected_measurement.index" 
							   on-release="resetSelectedMeasurement()">
					</div>
				</div>
				
				<div class="item item-text-wrap">
					<span ng-if="pioupiou.data.description">
						{{pioupiou.data.description}}
					</span>
					<span ng-if="!pioupiou.data.description">
						Ce pioupiou n'a pas encore de description.
					</span>					
			  	</div>
			</div>
			<button class="button button-block button-positive"
					ng-click="bookmarks.add(pioupiou.data)"
					ng-if="!bookmarks.bookmarks[pioupiou.data.id]">
			  Ajouter aux favoris
			</button>
			<button class="button button-block button-positive"
					ng-click="bookmarks.remove(pioupiou.data.id)"
					ng-if="bookmarks.bookmarks[pioupiou.data.id]">
			  Retirer des favoris
			</button>
			<a class="button button-block button-positive"
			   href="#/app/map?pioupiou_id={{pioupiou.data.id}}"
			   ng-if="show_see_on_map_link">
			  Voir sur la carte
			</a>
		</div>	
	</ion-content>
</ion-view>
